.icontext{
    &__container:hover > .icontext__text{
            display:block !important;
            -webkit-animation: fadeIn 2s;
            animation: fadeIn 2s;
           
    }
    &__container:hover > .icontext__image{
        display:none !important;

      
    }
}

.icontext{

}

.icontext__container{
    position: relative;
    text-align: center;
}
.icontext{
    &__image{
        position: absolute;
        top: 0;
        -webkit-animation: fadeIn 2.5s;
        animation: fadeIn 2.5s;
    }
    &__text{
        
        position: absolute;
        //transform: translate(-30%, 0px);
        top:0;
        margin: 0;
    }
}
/*
.icontext__container::after {
    display:block;
    content: attr(title);


    visibility: hidden;
}*/

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}  
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}