
.navbar{
    text-align: center;
    background-color: #222;
    height: 60px;
    color: white;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    &__child{
        &--right{
            height: 100%;
            margin-right:20px;
        }
    }
    &__icon{
        float: left;
        img{
            animation: App-logo-spin infinite 20s linear;
            width: 80px;
        }
    }
    &__nav{
        height: 100%;
        *{
            text-decoration: none;
            color:#70FFFA;
            font-size: 1em;
            position: relative;
            width: 60px;
            text-transform: uppercase;
        }
        &--wide{
            width: 350px;
            display:flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: space-between;
            align-items: center;
           /* a{
                &:hover{
                    opacity: 0.8;
                }
            }*/
        }
        &--narrow{
            display:none;
        }
        
    }
    &__navlinks{
        &--narrow{
            position: absolute;
            top: 70px;
            right: 30px;
            a{
                color:orange;
                display: block;
                float: left;
                clear: left;
                padding: 0.5em 0;
                font-size: 1em;
            }

        }
    }
    &__navicon{
        float: right;
        font-size: 1em;
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

@media (max-width: 680px) {
    .navbar{
        &__nav{
            &--wide{
                display:none;
            }
            &--narrow{
                display:block;
            }
        }
    }
}



@media (max-width: 480px) {
    .navbar{
        &__title{
            display:none;
        }
    }
}

@media (min-width: 955px) {
    .navbar{
        width: 60px;
        position: fixed;
        height: 100vh;
        flex-direction: column;
        &__child{
            &--right{
                margin-bottom:20px;
                margin-right:0;
            }
        }
        &__icon{
            img{
                width:100%
            }
        }
        &__nav{
            *{
                height: 30px;
                vertical-align: middle;
            }
            &--wide{
                width: 100%;
                display:flex;
                flex-direction: column;
                flex-wrap:wrap;
                justify-content: space-between;
                align-items: center;
                a{
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
        &__child--right{
            height: 400px;
        }
    }
}

  
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
  